body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(13, 110, 253);
    text-align: center;
}

.row {
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

#input-col, #lable-col, #item-col {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
}

#form-label {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

#button-col {
    padding-left: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 0rem;
}

#addItem {
    display: inline-flex;
    float:left;
}

.container {
    padding-bottom: 0rem;
}

#output {
    list-style: none;
    padding-left: 0rem;
}
li {
    border-bottom: 1px;
    border-style: none none solid none;
    border-color: rgb(228, 228, 228);
}
#striketrough {
    text-decoration: line-through;
    color: darkgray;
    background-color: rgb(228, 228, 228);
}


footer {
    background-color: rgb(228, 228, 228);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}
.footer {
    margin-bottom: 0px;
}